In [25]:
import pandas as pd
import re
df = pd.read_csv('Old/ODImatchSummaryINDIA.csv')
df = df.drop(['Abc'], axis = 1)
df

,Id,Team1,Team2,Winner,Margin,Date
0,ODI\n no. 4150,South Africa,India,India,6 wickets (with 15 balls\n ...,05-Jun-19
1,ODI no. 4155,India,Australia,India,36 runs,09-Jun-19
2,ODI no. 4161,India,Pakistan,India,89 runs (D/L method),16-Jun-19
3,ODI\n no. 4169,India,Afghanistan,India,\n 11 runs,22\n June 2019
4,ODI no. 4175,India,West Indies,India,125 runs,27-Jun-19
...,...,...,...,...,...,...
61,ODI no. 4541,India,Australia,Australia,10 wickets (with 234 balls remaining),19-Mar-23
62,ODI no. 4545,Australia,India,Australia,21 runs,22-Mar-23
63,ODI no. 4622,West Indies,India,India,5 wickets (with 163 balls remaining),27-Jul-23
64,ODI no. 4623,India,West Indies,West Indies,6 wickets (with 80 balls remaining),29-Jul-23
65,ODI no. 4624,India,West Indies,India,200 runs,01-Aug-23

In [26]:
df['Id']=df['Id'].apply(lambda x: x.replace('\n                                    ',' '))
df['Winner']=df['Winner'].apply(lambda x: x.replace('\n                                    ',''))
df['Margin']=df['Margin'].apply(lambda x: x.replace('\r\n                                    ',''))
df['Date']=df['Date'].apply(lambda x: x.replace('\n                                  ',' '))
df['Margin'] = df['Margin'].apply(lambda x: re.sub(r'\s*\([^)]*\)', '', x))
df["Winner"] = df["Winner"].apply(lambda x: x.strip())
df["Margin"] = df["Margin"].apply(lambda x: x.strip())
df

,Id,Team1,Team2,Winner,Margin,Date
0,ODI no. 4150,South Africa,India,India,6 wickets,05-Jun-19
1,ODI no. 4155,India,Australia,India,36 runs,09-Jun-19
2,ODI no. 4161,India,Pakistan,India,89 runs,16-Jun-19
3,ODI no. 4169,India,Afghanistan,India,11 runs,22 June 2019
4,ODI no. 4175,India,West Indies,India,125 runs,27-Jun-19
...,...,...,...,...,...,...
61,ODI no. 4541,India,Australia,Australia,10 wickets,19-Mar-23
62,ODI no. 4545,Australia,India,Australia,21 runs,22-Mar-23
63,ODI no. 4622,West Indies,India,India,5 wickets,27-Jul-23
64,ODI no. 4623,India,West Indies,West Indies,6 wickets,29-Jul-23
65,ODI no. 4624,India,West Indies,India,200 runs,01-Aug-23

In [27]:
df[['Team1', 'Team2', 'Winner']] = df[['Team1', 'Team2', 'Winner']].apply(lambda x: x.str.replace('Sri Lanka', 'SL'))
df[['Team1', 'Team2', 'Winner']] = df[['Team1', 'Team2', 'Winner']].apply(lambda x: x.str.replace('Australia','AUS'))
df[['Team1', 'Team2', 'Winner']] = df[['Team1', 'Team2', 'Winner']].apply(lambda x: x.str.replace('India','IND'))
df[['Team1', 'Team2', 'Winner']] = df[['Team1', 'Team2', 'Winner']].apply(lambda x: x.str.replace('Pakistan','PAK'))
df[['Team1', 'Team2', 'Winner']] = df[['Team1', 'Team2', 'Winner']].apply(lambda x: x.str.replace('Afghanistan','AFG'))
df[['Team1', 'Team2', 'Winner']] = df[['Team1', 'Team2', 'Winner']].apply(lambda x: x.str.replace('Hong Kong','HKG'))
df[['Team1', 'Team2', 'Winner']] = df[['Team1', 'Team2', 'Winner']].apply(lambda x: x.str.replace('Ireland','IRE'))
df[['Team1', 'Team2', 'Winner']] = df[['Team1', 'Team2', 'Winner']].apply(lambda x: x.str.replace('New Zealand','NZ'))
df[['Team1', 'Team2', 'Winner']] = df[['Team1', 'Team2', 'Winner']].apply(lambda x: x.str.replace('South Africa','SA'))
df[['Team1', 'Team2', 'Winner']] = df[['Team1', 'Team2', 'Winner']].apply(lambda x: x.str.replace('England','ENG'))
df[['Team1', 'Team2', 'Winner']] = df[['Team1', 'Team2', 'Winner']].apply(lambda x: x.str.replace('Bangladesh','BAN'))
df[['Team1', 'Team2', 'Winner']] = df[['Team1', 'Team2', 'Winner']].apply(lambda x: x.str.replace('Scotland','SCO'))
df[['Team1', 'Team2', 'Winner']] = df[['Team1', 'Team2', 'Winner']].apply(lambda x: x.str.replace('Namibia','NAM'))
df[['Team1', 'Team2', 'Winner']] = df[['Team1', 'Team2', 'Winner']].apply(lambda x: x.str.replace('West Indies','WI'))
df[['Team1', 'Team2', 'Winner']] = df[['Team1', 'Team2', 'Winner']].apply(lambda x: x.str.replace('Netherlands','NET'))
df[['Team1', 'Team2', 'Winner']] = df[['Team1', 'Team2', 'Winner']].apply(lambda x: x.str.replace('Zimbabwe','ZIM'))
df

              Id Team1 Team2 Winner      Margin          Date
0   ODI no. 4150    SA   IND    IND   6 wickets     05-Jun-19
1   ODI no. 4155   IND   AUS    IND     36 runs     09-Jun-19
2   ODI no. 4161   IND   PAK    IND     89 runs     16-Jun-19
3   ODI no. 4169   IND   AFG    IND     11 runs  22 June 2019
4   ODI no. 4175   IND    WI    IND    125 runs     27-Jun-19
..           ...   ...   ...    ...         ...           ...
61  ODI no. 4541   IND   AUS    AUS  10 wickets     19-Mar-23
62  ODI no. 4545   AUS   IND    AUS     21 runs     22-Mar-23
63  ODI no. 4622    WI   IND    IND   5 wickets     27-Jul-23
64  ODI no. 4623   IND    WI     WI   6 wickets     29-Jul-23
65  ODI no. 4624   IND    WI    IND    200 runs     01-Aug-23

[66 rows x 6 columns]

In [28]:
df.to_csv('New/NewODImatchSummaryINDIA.csv')