In [1]:
import pandas as pd
df = pd.read_csv('Old/FinalBowlingSummaryINDIA.csv')
df = df.drop(['Abc'], axis = 1)
df.head()

,Match,Name,Overs,Maiden,Runs,Wickets,ECON,0s,4s,6s,Wide,NB,MatchId
0,india vs south africa,Bhuvneshwar\r\n ...,10.0,0,44,2,4.40,33,3,0,2,0,ODI\r\n no....
1,india vs south africa,Jasprit\r\n ...,10.0,1,35,2,3.50,41,4,0,0,0,ODI\r\n no....
2,india vs south africa,Hardik\r\n ...,6.0,0,31,0,5.16,16,2,0,0,0,ODI\r\n no....
3,india vs south africa,Kuldeep\r\n ...,10.0,0,46,1,4.60,28,2,1,1,0,ODI\r\n no....
4,india vs south africa,Yuzvendra\r\n ...,10.0,0,51,4,5.10,32,1,2,3,0,ODI\r\n no....

In [2]:
df['Name']=df['Name'].apply(lambda x: x.replace('\r\n                                      ',' '))
df['MatchId']=df['MatchId'].apply(lambda x: x.replace('\r\n                                    ',' '))
df['Match']=df['Match'].apply(lambda x: x.replace('1st',''))
df

,Match,Name,Overs,Maiden,Runs,Wickets,ECON,0s,4s,6s,Wide,NB,MatchId
0,india vs south africa,Bhuvneshwar Kumar,10.0,0,44,2,4.40,33,3,0,2,0,ODI no. 4150
1,india vs south africa,Jasprit Bumrah,10.0,1,35,2,3.50,41,4,0,0,0,ODI no. 4150
2,india vs south africa,Hardik Pandya,6.0,0,31,0,5.16,16,2,0,0,0,ODI no. 4150
3,india vs south africa,Kuldeep Yadav,10.0,0,46,1,4.60,28,2,1,1,0,ODI no. 4150
4,india vs south africa,Yuzvendra Chahal,10.0,0,51,4,5.10,32,1,2,3,0,ODI no. 4150
...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,west indies vs india,Hardik Pandya,4.0,1,13,0,3.25,18,2,0,0,0,ODI no. 4624
360,west indies vs india,Shardul Thakur,6.3,0,37,4,5.69,23,5,1,0,0,ODI no. 4624
361,west indies vs india,Jaydev Unadkat,5.0,0,16,1,3.20,20,2,0,0,0,ODI no. 4624
362,west indies vs india,Kuldeep Yadav,8.0,3,25,2,3.12,39,3,1,0,0,ODI no. 4624
363,west indies vs india,Ravindra Jadeja,5.0,1,29,0,5.80,21,3,2,0,0,ODI no. 4624

In [3]:
df['Match']=df['Match'].apply(lambda x: x.replace('sri lanka','SL'))
df['Match']=df['Match'].apply(lambda x: x.replace('australia','AUS'))
df['Match']=df['Match'].apply(lambda x: x.replace('hong kong','HKG'))
df['Match']=df['Match'].apply(lambda x: x.replace('india','IND'))
df['Match']=df['Match'].apply(lambda x: x.replace('ireland','IRE'))
df['Match']=df['Match'].apply(lambda x: x.replace('pakistan','PAK'))
df['Match']=df['Match'].apply(lambda x: x.replace('afghanistan','AFG'))
df['Match']=df['Match'].apply(lambda x: x.replace('new zealand','NZ'))
df['Match']=df['Match'].apply(lambda x: x.replace('south africa','SA'))
df['Match']=df['Match'].apply(lambda x: x.replace('england','ENG'))
df['Match']=df['Match'].apply(lambda x: x.replace('bangladesh','BAN'))
df['Match']=df['Match'].apply(lambda x: x.replace('scotland','SCO'))
df['Match']=df['Match'].apply(lambda x: x.replace('namibia','NAM'))
df['Match']=df['Match'].apply(lambda x: x.replace('west indies','WI'))
df['Match']=df['Match'].apply(lambda x: x.replace('netherlands','NET'))
df['Match']=df['Match'].apply(lambda x: x.replace('zimbabwe','ZIM'))
df

,Match,Name,Overs,Maiden,Runs,Wickets,ECON,0s,4s,6s,Wide,NB,MatchId
0,IND vs SA,Bhuvneshwar Kumar,10.0,0,44,2,4.40,33,3,0,2,0,ODI no. 4150
1,IND vs SA,Jasprit Bumrah,10.0,1,35,2,3.50,41,4,0,0,0,ODI no. 4150
2,IND vs SA,Hardik Pandya,6.0,0,31,0,5.16,16,2,0,0,0,ODI no. 4150
3,IND vs SA,Kuldeep Yadav,10.0,0,46,1,4.60,28,2,1,1,0,ODI no. 4150
4,IND vs SA,Yuzvendra Chahal,10.0,0,51,4,5.10,32,1,2,3,0,ODI no. 4150
...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,WI vs IND,Hardik Pandya,4.0,1,13,0,3.25,18,2,0,0,0,ODI no. 4624
360,WI vs IND,Shardul Thakur,6.3,0,37,4,5.69,23,5,1,0,0,ODI no. 4624
361,WI vs IND,Jaydev Unadkat,5.0,0,16,1,3.20,20,2,0,0,0,ODI no. 4624
362,WI vs IND,Kuldeep Yadav,8.0,3,25,2,3.12,39,3,1,0,0,ODI no. 4624
363,WI vs IND,Ravindra Jadeja,5.0,1,29,0,5.80,21,3,2,0,0,ODI no. 4624

In [4]:
df.to_csv('New/NewFinalBowlingSummaryINDIA.csv')