In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('BowlingSummaryINDIA.csv')
df.tail()

,Ab,Name,Overs,Maiden,Runs,Wickets,ECON,0s,4s,6s,Wide,NB
359,1,Hardik Pandya,4.0,1,13,0,3.25,18,2,0,0,0
360,2,Shardul Thakur,6.3,0,37,4,5.69,23,5,1,0,0
361,3,Jaydev Unadkat,5.0,0,16,1,3.20,20,2,0,0,0
362,4,Kuldeep Yadav,8.0,3,25,2,3.12,39,3,1,0,0
363,5,Ravindra Jadeja,5.0,1,29,0,5.80,21,3,2,0,0

In [3]:
df = df.drop(['Ab'],axis=1)
df

,Name,Overs,Maiden,Runs,Wickets,ECON,0s,4s,6s,Wide,NB
0,Bhuvneshwar Kumar,10.0,0,44,2,4.40,33,3,0,2,0
1,Jasprit Bumrah,10.0,1,35,2,3.50,41,4,0,0,0
2,Hardik Pandya,6.0,0,31,0,5.16,16,2,0,0,0
3,Kuldeep Yadav,10.0,0,46,1,4.60,28,2,1,1,0
4,Yuzvendra Chahal,10.0,0,51,4,5.10,32,1,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...
359,Hardik Pandya,4.0,1,13,0,3.25,18,2,0,0,0
360,Shardul Thakur,6.3,0,37,4,5.69,23,5,1,0,0
361,Jaydev Unadkat,5.0,0,16,1,3.20,20,2,0,0,0
362,Kuldeep Yadav,8.0,3,25,2,3.12,39,3,1,0,0
363,Ravindra Jadeja,5.0,1,29,0,5.80,21,3,2,0,0

In [4]:
df.to_csv('NewBowlingSummary1.csv')