In [111]:
import pandas as pd
df = pd.read_csv("T20BowlingSummaryINDIA.csv")
df

,Abc,Match,Match_id,Name,Overs,Maiden,Runs,Wickets,ECON,0s,4s,6s,Wide,NB
0,0,sri lanka vs india,T20I no. 656,Jaydev Unadkat,3.0,0.0,35.0,1,11.66,8,4,2,2.0,0.0
1,1,sri lanka vs india,T20I no. 656,Washington Sundar,4.0,0.0,28.0,2,7.00,14,1,2,1.0,0.0
2,2,sri lanka vs india,T20I no. 656,Shardul Thakur,3.3,0.0,42.0,0,12.00,7,6,1,1.0,1.0
3,3,sri lanka vs india,T20I no. 656,Yuzvendra Chahal,4.0,0.0,37.0,2,9.25,8,2,2,1.0,0.0
4,4,sri lanka vs india,T20I no. 656,Vijay Shankar,2.0,0.0,15.0,0,7.50,2,0,0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
614,1,ireland vs india,T20I no. 2208,Arshdeep Singh,4.0,0.0,29.0,1,7.25,13,2,2,1.0,0.0
615,2,ireland vs india,T20I no. 2208,Prasidh Krishna,4.0,0.0,29.0,2,7.25,12,0,3,1.0,0.0
616,3,ireland vs india,T20I no. 2208,Ravi Bishnoi,4.0,0.0,37.0,2,9.25,7,2,2,1.0,0.0
617,4,ireland vs india,T20I no. 2208,Washington Sundar,2.0,0.0,19.0,0,9.50,2,2,0,2.0,0.0
618,5,ireland vs india,T20I no. 2208,Shivam Dube,2.0,0.0,18.0,0,9.00,5,0,2,0.0,0.0

In [112]:
df = df.drop(['Abc'], axis = 1)
df

,Match,Match_id,Name,Overs,Maiden,Runs,Wickets,ECON,0s,4s,6s,Wide,NB
0,sri lanka vs india,T20I no. 656,Jaydev Unadkat,3.0,0.0,35.0,1,11.66,8,4,2,2.0,0.0
1,sri lanka vs india,T20I no. 656,Washington Sundar,4.0,0.0,28.0,2,7.00,14,1,2,1.0,0.0
2,sri lanka vs india,T20I no. 656,Shardul Thakur,3.3,0.0,42.0,0,12.00,7,6,1,1.0,1.0
3,sri lanka vs india,T20I no. 656,Yuzvendra Chahal,4.0,0.0,37.0,2,9.25,8,2,2,1.0,0.0
4,sri lanka vs india,T20I no. 656,Vijay Shankar,2.0,0.0,15.0,0,7.50,2,0,0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
614,ireland vs india,T20I no. 2208,Arshdeep Singh,4.0,0.0,29.0,1,7.25,13,2,2,1.0,0.0
615,ireland vs india,T20I no. 2208,Prasidh Krishna,4.0,0.0,29.0,2,7.25,12,0,3,1.0,0.0
616,ireland vs india,T20I no. 2208,Ravi Bishnoi,4.0,0.0,37.0,2,9.25,7,2,2,1.0,0.0
617,ireland vs india,T20I no. 2208,Washington Sundar,2.0,0.0,19.0,0,9.50,2,2,0,2.0,0.0
618,ireland vs india,T20I no. 2208,Shivam Dube,2.0,0.0,18.0,0,9.00,5,0,2,0.0,0.0

In [113]:
df['Name']=df['Name'].str.rstrip()
df

,Match,Match_id,Name,Overs,Maiden,Runs,Wickets,ECON,0s,4s,6s,Wide,NB
0,sri lanka vs india,T20I no. 656,Jaydev Unadkat,3.0,0.0,35.0,1,11.66,8,4,2,2.0,0.0
1,sri lanka vs india,T20I no. 656,Washington Sundar,4.0,0.0,28.0,2,7.00,14,1,2,1.0,0.0
2,sri lanka vs india,T20I no. 656,Shardul Thakur,3.3,0.0,42.0,0,12.00,7,6,1,1.0,1.0
3,sri lanka vs india,T20I no. 656,Yuzvendra Chahal,4.0,0.0,37.0,2,9.25,8,2,2,1.0,0.0
4,sri lanka vs india,T20I no. 656,Vijay Shankar,2.0,0.0,15.0,0,7.50,2,0,0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
614,ireland vs india,T20I no. 2208,Arshdeep Singh,4.0,0.0,29.0,1,7.25,13,2,2,1.0,0.0
615,ireland vs india,T20I no. 2208,Prasidh Krishna,4.0,0.0,29.0,2,7.25,12,0,3,1.0,0.0
616,ireland vs india,T20I no. 2208,Ravi Bishnoi,4.0,0.0,37.0,2,9.25,7,2,2,1.0,0.0
617,ireland vs india,T20I no. 2208,Washington Sundar,2.0,0.0,19.0,0,9.50,2,2,0,2.0,0.0
618,ireland vs india,T20I no. 2208,Shivam Dube,2.0,0.0,18.0,0,9.00,5,0,2,0.0,0.0

In [114]:
df['Match_id']=df['Match_id'].apply(lambda x: x.replace('\r\n                                    ',' '))
df

,Match,Match_id,Name,Overs,Maiden,Runs,Wickets,ECON,0s,4s,6s,Wide,NB
0,sri lanka vs india,T20I no. 656,Jaydev Unadkat,3.0,0.0,35.0,1,11.66,8,4,2,2.0,0.0
1,sri lanka vs india,T20I no. 656,Washington Sundar,4.0,0.0,28.0,2,7.00,14,1,2,1.0,0.0
2,sri lanka vs india,T20I no. 656,Shardul Thakur,3.3,0.0,42.0,0,12.00,7,6,1,1.0,1.0
3,sri lanka vs india,T20I no. 656,Yuzvendra Chahal,4.0,0.0,37.0,2,9.25,8,2,2,1.0,0.0
4,sri lanka vs india,T20I no. 656,Vijay Shankar,2.0,0.0,15.0,0,7.50,2,0,0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
614,ireland vs india,T20I no. 2208,Arshdeep Singh,4.0,0.0,29.0,1,7.25,13,2,2,1.0,0.0
615,ireland vs india,T20I no. 2208,Prasidh Krishna,4.0,0.0,29.0,2,7.25,12,0,3,1.0,0.0
616,ireland vs india,T20I no. 2208,Ravi Bishnoi,4.0,0.0,37.0,2,9.25,7,2,2,1.0,0.0
617,ireland vs india,T20I no. 2208,Washington Sundar,2.0,0.0,19.0,0,9.50,2,2,0,2.0,0.0
618,ireland vs india,T20I no. 2208,Shivam Dube,2.0,0.0,18.0,0,9.00,5,0,2,0.0,0.0

In [115]:
df['Name']=df['Name'].apply(lambda x: x.replace('\r\n                                      ',' '))

df

,Match,Match_id,Name,Overs,Maiden,Runs,Wickets,ECON,0s,4s,6s,Wide,NB
0,sri lanka vs india,T20I no. 656,Jaydev Unadkat,3.0,0.0,35.0,1,11.66,8,4,2,2.0,0.0
1,sri lanka vs india,T20I no. 656,Washington Sundar,4.0,0.0,28.0,2,7.00,14,1,2,1.0,0.0
2,sri lanka vs india,T20I no. 656,Shardul Thakur,3.3,0.0,42.0,0,12.00,7,6,1,1.0,1.0
3,sri lanka vs india,T20I no. 656,Yuzvendra Chahal,4.0,0.0,37.0,2,9.25,8,2,2,1.0,0.0
4,sri lanka vs india,T20I no. 656,Vijay Shankar,2.0,0.0,15.0,0,7.50,2,0,0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
614,ireland vs india,T20I no. 2208,Arshdeep Singh,4.0,0.0,29.0,1,7.25,13,2,2,1.0,0.0
615,ireland vs india,T20I no. 2208,Prasidh Krishna,4.0,0.0,29.0,2,7.25,12,0,3,1.0,0.0
616,ireland vs india,T20I no. 2208,Ravi Bishnoi,4.0,0.0,37.0,2,9.25,7,2,2,1.0,0.0
617,ireland vs india,T20I no. 2208,Washington Sundar,2.0,0.0,19.0,0,9.50,2,2,0,2.0,0.0
618,ireland vs india,T20I no. 2208,Shivam Dube,2.0,0.0,18.0,0,9.00,5,0,2,0.0,0.0

In [116]:
print(df.tail(25))

                    Match       Match_id               Name  Overs  Maiden  \
594  india vs west indies  T20I no. 2193     Arshdeep Singh    4.0     0.0
595  india vs west indies  T20I no. 2193   Yuzvendra Chahal    4.0     0.0
596  india vs west indies  T20I no. 2193      Kuldeep Yadav    4.0     0.0
597  india vs west indies  T20I no. 2193      Hardik Pandya    1.0     0.0
598  india vs west indies  T20I no. 2193       Mukesh Kumar    3.0     0.0
599  india vs west indies  T20I no. 2194      Hardik Pandya    3.0     0.0
600  india vs west indies  T20I no. 2194     Arshdeep Singh    2.0     0.0
601  india vs west indies  T20I no. 2194      Kuldeep Yadav    4.0     0.0
602  india vs west indies  T20I no. 2194   Yuzvendra Chahal    4.0     0.0
603  india vs west indies  T20I no. 2194       Mukesh Kumar    1.0     0.0
604  india vs west indies  T20I no. 2194        Tilak Varma    2.0     0.0
605  india vs west indies  T20I no. 2194         Axar Patel    1.0     0.0
606  india vs west indies  T20I no. 2194   Yashasvi Jaiswal    1.0     0.0
607      ireland vs india  T20I no. 2200     Jasprit Bumrah    4.0     0.0
608      ireland vs india  T20I no. 2200     Arshdeep Singh    4.0     0.0
609      ireland vs india  T20I no. 2200    Prasidh Krishna    4.0     0.0
610      ireland vs india  T20I no. 2200       Ravi Bishnoi    4.0     0.0
611      ireland vs india  T20I no. 2200        Shivam Dube    1.0     0.0
612      ireland vs india  T20I no. 2200  Washington Sundar    3.0     0.0
613      ireland vs india  T20I no. 2208     Jasprit Bumrah    4.0     1.0
614      ireland vs india  T20I no. 2208     Arshdeep Singh    4.0     0.0
615      ireland vs india  T20I no. 2208    Prasidh Krishna    4.0     0.0
616      ireland vs india  T20I no. 2208       Ravi Bishnoi    4.0     0.0
617      ireland vs india  T20I no. 2208  Washington Sundar    2.0     0.0
618      ireland vs india  T20I no. 2208        Shivam Dube    2.0     0.0

     Runs  Wickets   ECON  0s  4s  6s  Wide   NB
594  38.0        3   9.50  10   2   3   1.0  0.0
595  36.0        1   9.00   5   2   2   0.0  0.0
596  26.0        2   6.50  10   1   1   1.0  0.0
597  14.0        0  14.00   1   1   1   0.0  0.0
598  25.0        1   8.33   4   1   1   0.0  1.0
599  32.0        0  10.66   8   2   3   0.0  0.0
600  20.0        1  10.00   6   1   2   0.0  0.0
601  18.0        0   4.50  12   1   0   2.0  0.0
602  51.0        0  12.75   4   1   5   0.0  0.0
603  10.0        0  10.00   0   1   0   1.0  0.0
604  17.0        1   8.50   5   1   1   0.0  0.0
605   8.0        0   8.00   3   1   0   0.0  0.0
606  11.0        0  11.00   1   0   1   0.0  0.0
607  24.0        2   6.00  16   3   1   1.0  0.0
608  35.0        1   8.75  11   2   2   3.0  1.0
609  32.0        2   8.00  11   4   1   1.0  0.0
610  23.0        2   5.75  11   1   1   1.0  0.0
611   6.0        0   6.00   3   1   0   0.0  0.0
612  19.0        0   6.33   4   1   0   0.0  0.0
613  15.0        2   3.75  16   0   0   1.0  0.0
614  29.0        1   7.25  13   2   2   1.0  0.0
615  29.0        2   7.25  12   0   3   1.0  0.0
616  37.0        2   9.25   7   2   2   1.0  0.0
617  19.0        0   9.50   2   2   0   2.0  0.0
618  18.0        0   9.00   5   0   2   0.0  0.0

In [117]:
df['Match']=df['Match'].apply(lambda x: x.replace('sri lanka','SL'))
df['Match']=df['Match'].apply(lambda x: x.replace('australia','AUS'))
df['Match']=df['Match'].apply(lambda x: x.replace('hong kong','HKG'))
df['Match']=df['Match'].apply(lambda x: x.replace('india','IND'))
df['Match']=df['Match'].apply(lambda x: x.replace('ireland','IRE'))
df['Match']=df['Match'].apply(lambda x: x.replace('pakistan','PAK'))
df['Match']=df['Match'].apply(lambda x: x.replace('afghanistan','AFG'))
df['Match']=df['Match'].apply(lambda x: x.replace('new zealand','NZ'))
df['Match']=df['Match'].apply(lambda x: x.replace('south africa','SA'))
df['Match']=df['Match'].apply(lambda x: x.replace('england','ENG'))
df['Match']=df['Match'].apply(lambda x: x.replace('bangladesh','BAN'))
df['Match']=df['Match'].apply(lambda x: x.replace('scotland','SCO'))
df['Match']=df['Match'].apply(lambda x: x.replace('namibia','NAM'))
df['Match']=df['Match'].apply(lambda x: x.replace('west indies','WI'))
df['Match']=df['Match'].apply(lambda x: x.replace('netherlands','NET'))
df['Match']=df['Match'].apply(lambda x: x.replace('zimbabwe','ZIM'))


df

,Match,Match_id,Name,Overs,Maiden,Runs,Wickets,ECON,0s,4s,6s,Wide,NB
0,SL vs IND,T20I no. 656,Jaydev Unadkat,3.0,0.0,35.0,1,11.66,8,4,2,2.0,0.0
1,SL vs IND,T20I no. 656,Washington Sundar,4.0,0.0,28.0,2,7.00,14,1,2,1.0,0.0
2,SL vs IND,T20I no. 656,Shardul Thakur,3.3,0.0,42.0,0,12.00,7,6,1,1.0,1.0
3,SL vs IND,T20I no. 656,Yuzvendra Chahal,4.0,0.0,37.0,2,9.25,8,2,2,1.0,0.0
4,SL vs IND,T20I no. 656,Vijay Shankar,2.0,0.0,15.0,0,7.50,2,0,0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
614,IRE vs IND,T20I no. 2208,Arshdeep Singh,4.0,0.0,29.0,1,7.25,13,2,2,1.0,0.0
615,IRE vs IND,T20I no. 2208,Prasidh Krishna,4.0,0.0,29.0,2,7.25,12,0,3,1.0,0.0
616,IRE vs IND,T20I no. 2208,Ravi Bishnoi,4.0,0.0,37.0,2,9.25,7,2,2,1.0,0.0
617,IRE vs IND,T20I no. 2208,Washington Sundar,2.0,0.0,19.0,0,9.50,2,2,0,2.0,0.0
618,IRE vs IND,T20I no. 2208,Shivam Dube,2.0,0.0,18.0,0,9.00,5,0,2,0.0,0.0

In [118]:
df.to_csv('NewT20BowlingSummaryINDIA.csv')