In [62]:
import pandas as pd
df = pd.read_csv("T20MatchSummaryINDIA.csv")
df

,Abc,Id,Team1,Team2,Winner,Margin,Date
0,0,T20I no. 656,India,Sri Lanka,Sri Lanka,5 wickets (with 9 balls remaining),06-Mar-18
1,0,T20I no. 657,Bangladesh,India,India,6 wickets (with 8 balls remaining),08-Mar-18
2,0,T20I no. 659,Sri Lanka,India,India,6 wickets (with 9 balls remaining),12-Mar-18
3,0,T20I no. 660,India,Bangladesh,India,17 runs,14-Mar-18
4,0,T20I no. 662,Bangladesh,India,India,4 wickets (with 0 balls remaining),18-Mar-18
...,...,...,...,...,...,...,...
110,0,T20I no. 2193,West Indies,India,India,9 wickets (with 18 balls remaining),12-Aug-23
111,0,T20I no. 2194,India,West Indies,West Indies,8 wickets (with 12 balls remaining),13-Aug-23
112,0,T20I\n no. ...,Ireland,India,India,2\n runs (...,18\n August 2023
113,0,T20I no. 2208,India,Ireland,India,33 runs,20-Aug-23
114,0,T20I no. 002213a,-,-,Match abandoned without a ball bowled,No result,23-Aug-23

In [63]:
df = df.drop(['Abc'],axis=1)
df

,Id,Team1,Team2,Winner,Margin,Date
0,T20I no. 656,India,Sri Lanka,Sri Lanka,5 wickets (with 9 balls remaining),06-Mar-18
1,T20I no. 657,Bangladesh,India,India,6 wickets (with 8 balls remaining),08-Mar-18
2,T20I no. 659,Sri Lanka,India,India,6 wickets (with 9 balls remaining),12-Mar-18
3,T20I no. 660,India,Bangladesh,India,17 runs,14-Mar-18
4,T20I no. 662,Bangladesh,India,India,4 wickets (with 0 balls remaining),18-Mar-18
...,...,...,...,...,...,...
110,T20I no. 2193,West Indies,India,India,9 wickets (with 18 balls remaining),12-Aug-23
111,T20I no. 2194,India,West Indies,West Indies,8 wickets (with 12 balls remaining),13-Aug-23
112,T20I\n no. ...,Ireland,India,India,2\n runs (...,18\n August 2023
113,T20I no. 2208,India,Ireland,India,33 runs,20-Aug-23
114,T20I no. 002213a,-,-,Match abandoned without a ball bowled,No result,23-Aug-23

In [64]:
for i in ('Team1','Team2','Winner'):
    df[i]=df[i].apply(lambda x: x.replace('Sri Lanka','SL'))
    df[i]=df[i].apply(lambda x: x.replace('Australia','AUS'))
    df[i]=df[i].apply(lambda x: x.replace('Hong Kong','HKG'))
    df[i]=df[i].apply(lambda x: x.replace('India','IND'))
    df[i]=df[i].apply(lambda x: x.replace('Ireland','IRE'))
    df[i]=df[i].apply(lambda x: x.replace('Pakistan','PAK'))
    df[i]=df[i].apply(lambda x: x.replace('Afghanistan','AFG'))
    df[i]=df[i].apply(lambda x: x.replace('New Zealand','NZ'))
    df[i]=df[i].apply(lambda x: x.replace('South Africa','SA'))
    df[i]=df[i].apply(lambda x: x.replace('England','ENG'))
    df[i]=df[i].apply(lambda x: x.replace('Bangladesh','BAN'))
    df[i]=df[i].apply(lambda x: x.replace('Scotland','SCO'))
    df[i]=df[i].apply(lambda x: x.replace('Namibia','NAM'))
    df[i]=df[i].apply(lambda x: x.replace('West Indies','WI'))
    df[i]=df[i].apply(lambda x: x.replace('Netherlands','NET'))
    df[i]=df[i].apply(lambda x: x.replace('Zimbabwe','ZIM'))

df

,Id,Team1,Team2,Winner,Margin,Date
0,T20I no. 656,IND,SL,SL,5 wickets (with 9 balls remaining),06-Mar-18
1,T20I no. 657,BAN,IND,IND,6 wickets (with 8 balls remaining),08-Mar-18
2,T20I no. 659,SL,IND,IND,6 wickets (with 9 balls remaining),12-Mar-18
3,T20I no. 660,IND,BAN,IND,17 runs,14-Mar-18
4,T20I no. 662,BAN,IND,IND,4 wickets (with 0 balls remaining),18-Mar-18
...,...,...,...,...,...,...
110,T20I no. 2193,WI,IND,IND,9 wickets (with 18 balls remaining),12-Aug-23
111,T20I no. 2194,IND,WI,WI,8 wickets (with 12 balls remaining),13-Aug-23
112,T20I\n no. ...,IRE,IND,IND,2\n runs (...,18\n August 2023
113,T20I no. 2208,IND,IRE,IND,33 runs,20-Aug-23
114,T20I no. 002213a,-,-,Match abandoned without a ball bowled,No result,23-Aug-23

In [65]:
df = df.drop(df[(df['Team1'] == '-') & (df['Team2'] == '-')].index)
df

,Id,Team1,Team2,Winner,Margin,Date
0,T20I no. 656,IND,SL,SL,5 wickets (with 9 balls remaining),06-Mar-18
1,T20I no. 657,BAN,IND,IND,6 wickets (with 8 balls remaining),08-Mar-18
2,T20I no. 659,SL,IND,IND,6 wickets (with 9 balls remaining),12-Mar-18
3,T20I no. 660,IND,BAN,IND,17 runs,14-Mar-18
4,T20I no. 662,BAN,IND,IND,4 wickets (with 0 balls remaining),18-Mar-18
...,...,...,...,...,...,...
109,T20I no. 2192,WI,IND,IND,7 wickets (with 13 balls remaining),08-Aug-23
110,T20I no. 2193,WI,IND,IND,9 wickets (with 18 balls remaining),12-Aug-23
111,T20I no. 2194,IND,WI,WI,8 wickets (with 12 balls remaining),13-Aug-23
112,T20I\n no. ...,IRE,IND,IND,2\n runs (...,18\n August 2023
113,T20I no. 2208,IND,IRE,IND,33 runs,20-Aug-23

In [66]:
df['Margin'] = df['Margin'].str.split('(', expand=True)[0]
df['Margin'] = df['Margin'].str.replace('\n', '')
df['Date'] = df['Date'].str.replace('\n', '')
df['Id'] = df['Id'].str.replace('\n', '')
df

,Id,Team1,Team2,Winner,Margin,Date
0,T20I no. 656,IND,SL,SL,5 wickets,06-Mar-18
1,T20I no. 657,BAN,IND,IND,6 wickets,08-Mar-18
2,T20I no. 659,SL,IND,IND,6 wickets,12-Mar-18
3,T20I no. 660,IND,BAN,IND,17 runs,14-Mar-18
4,T20I no. 662,BAN,IND,IND,4 wickets,18-Mar-18
...,...,...,...,...,...,...
109,T20I no. 2192,WI,IND,IND,7 wickets,08-Aug-23
110,T20I no. 2193,WI,IND,IND,9 wickets,12-Aug-23
111,T20I no. 2194,IND,WI,WI,8 wickets,13-Aug-23
112,T20I no. 2200,IRE,IND,IND,2 runs,18 August 2023
113,T20I no. 2208,IND,IRE,IND,33 runs,20-Aug-23

In [67]:
df['Id'] = df['Id'].str.replace('\r', '')
df['Id'] = df['Id'].str.replace('                                    ', ' ')
df['Margin'] = df['Margin'].str.replace('                                    ', ' ')
df['Date'] = df['Date'].str.replace('                                  ', ' ')
df['Winner'] = df['Winner'].str.replace('\n                                    ', ' ')

print(df.head(15))

              Id Team1 Team2     Winner       Margin              Date
0   T20I no. 656   IND    SL        SL    5 wickets          06-Mar-18
1   T20I no. 657   BAN   IND       IND    6 wickets          08-Mar-18
2   T20I no. 659    SL   IND       IND    6 wickets          12-Mar-18
3   T20I no. 660   IND   BAN       IND       17 runs         14-Mar-18
4   T20I no. 662   BAN   IND       IND    4 wickets          18-Mar-18
5   T20I no. 678   IND   IRE       IND       76 runs         27-Jun-18
6   T20I no. 680   IND   IRE       IND      143 runs         29-Jun-18
7   T20I no. 684   ENG   IND       IND    8 wickets          03-Jul-18
8   T20I no. 688   IND   ENG       ENG    5 wickets          06-Jul-18
9   T20I no. 690   ENG   IND       IND    7 wickets          08-Jul-18
10  T20I no. 707    WI   IND       IND    5 wickets          04-Nov-18
11  T20I no. 709   IND    WI       IND       71 runs         06-Nov-18
12  T20I no. 710    WI   IND       IND    6 wickets          11-Nov-18
13  T20I no. 712   AUS   IND       AUS       4 runs   21 November 2018
14  T20I no. 713   AUS     -  No result    No result  23 November 2018

In [68]:
df.to_csv('NewT20MatchSummaryINDIA.csv')